doctype html
html(lang="ru")
    head
        title Студия танца Тамбурин
        meta(charset="UTF-8")
        link(rel="stylesheet", href="index.css")
        link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    body
        nav.navbar.navbar-default
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar-collapse" aria-expanded="false")
                        span.sr-only Меню
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href="#") Тамбурин
                .collapse.navbar-collapse#navbar-collapse
                    p.navbar-text +7-904-917-14-15
        .header
            .header-cell
                .header-text
                    h1.studio Студия 
                        span.nowrap классического танца 
                    h1.tamburin Тамбурин
                    .subheader
                        .slogan Пусть мечта о балете станет реальностью!
                        button.btn.btn-danger.btn-lg(type="button") Записаться в группу
                        .forall для детей и взрослых
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
        h1 A
