body {
    color: #000044 !important;
    background-color: #ddeeff !important;
}
.content {
    max-width: 1280px;
    margin: auto;
    background-color: white !important;
}
h2 {
    font-weight: bold !important;
}
.bold {
    font-weight: bold !important;
}
.points {
    padding-top: 1%;
    padding-bottom: 3%;
}
.highlight {
    color: #550000 !important;
}
.phone {
    font-weight: bold;
    padding-top: 0.5ex;
}
.logo img {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 150px;
}
.header, .header2, .header3, .header4 {
    width: 100%;
}
@media (max-width: 767px) {
    .header {
        min-height: 300px !important;
    }
}
.header {
    min-height: 600px;
    padding-left: 5%;
    padding-right: 5%;
    background-image: url("img/head.jpg");
    background-position: 17%;
    text-align: left;
    color: #000055;
    position: relative;
}
@media (max-width: 767px) {
    .header2 {
        min-height: 346px !important;
    }
}
.header2 {
    background-position: center;
    min-height: 694px;
    background-image: url("img/head2.jpg");
    background-size: cover;
    text-align: center;
    position: relative;
}
@media (max-width: 767px) {
    .header3 {
        min-height: 411px !important;
    }
}
.header3 {
    min-height: 822px;
    background-position: center;
    background-image: url("img/head3.jpg");
    text-align: left;
    position: relative;
    padding-top: 5%;
    background-size: cover;
}
.header3 h2, .header3 h3 {
    padding-left: 5%;
}
@media (max-width: 767px) {
    .header4 {
        min-height: 400px !important;
    }
}
.header4 {
    min-height: 800px;
    background-position: center;
    background-image: url("img/head4.jpg");
    background-size: auto 800px;
    text-align: center;
    position: relative;
    background-size: cover;
}
h1.studio {
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: bold;
}
h1.tamburin {
    font-size: 400%;
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 0px;
}
.header-top {
    padding-top: 3%;
}
.header-bottom {
    max-width: 32em;
    display: inline-block;
    text-align: center;
    position: absolute;
    bottom: 1.5ex;
}
.slogan {
    font-style: italic;
    font-size: 150%;
    text-align: right;
}
@media (min-width: 767px) {
    .slogan {
        max-width: 75%;
    }
}
.forall {
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 1ex;
    font-style: italic;
}
.subheader button {
    margin: 2%;
}
.nowrap {
    display: inline-block;
}
@media (max-width: 767px) {
    .photo {
        max-width: 150px;
    }
}
.photo {
    width: 50%;
}
h3 {
    font-weight: bold !important;
}
.btn-default {
    background-image: linear-gradient(to bottom, #fff 0, #aaccff 100%) !important;
    color: #000055 !important;
}
.top {
    position: absolute;
    top: 2ex;
}
.right {
    position: absolute;
    right: 2ex;
}
.bottom {
    position: absolute;
    bottom: 2ex;
}
.center {
    width: 100%;
    text-align: center;
}
.sep {
    height: 0px;
    width: 50%;
    border-top: 1px solid #550000;
    margin-bottom: 10px;
}
.prep {
    padding-top: 10px;
}
.text-muted {
    color: #997777 !important;
}
.subject {
    font-style: italic;
    font-weight: bold;
}
#map {
    width: 100%;
    height: 400px;
}
.intro {
    padding-top:0.5ex;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1ex;
}
a.tel, a.tel:hover, a.tel:visited {
    color: inherit !important;
    text-decoration: inherit !important;
}
