doctype html
html(lang="ru")
    head
        title Студия танца Тамбурин
        meta(charset="UTF-8")
        link(rel="stylesheet", href="index.css")
        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/bootstrap-theme.min.css")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src="js/bootstrap.min.js")
    body
        nav.navbar.navbar-default
            .container
                .navbar-header
                    button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar-collapse" aria-expanded="false")
                        span.sr-only Меню
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-text(href="#") Тамбурин
                .collapse.navbar-collapse#navbar-collapse
                    p.navbar-text +7-904-917-14-15
                    a.navbar-text(href="https://vk.com/tamburin_dance") vk.com/tamburin_dance
        .header
            .header-cell
                .header-text
                    h1.studio Студия 
                        span.nowrap классического танца 
                    h1.tamburin Тамбурин
                    .subheader
                        .slogan Пусть мечта о балете станет реальностью!
                        button.btn.btn-danger.btn-lg(type="button") Записаться в группу
                        .forall для детей и взрослых
        .hidden-xs
            .container-fluid.linkrow
                .row
                    .col-sm-4
                        a.btn.btn-default.btn-block(href="#aboutus",role="button") О нас
                    .col-sm-4
                        a.btn.btn-default.btn-block(href="#schedule",role="button") Расписание
                    .col-sm-4
                        a.btn.btn-default.btn-block(href="#price",role="button") Цены
        .container-fluid
            a(name="aboutus")
            h2.center Классическая хореография 
            .row
                .col-sm-6.center
                    p Обучаем взрослых с нуля
                    p Детские группы от 5 до 12 лет
                    p Программа «мама + дочь»
                .col-sm-6.center
                    p Постановка номеров
                    p Выступления
                    p Мастерклассы с артистами балета
        .header2
            .slogan.right.top Гибкость и правильная осанка
            .bottom.center
                button.btn.btn-danger.btn-lg(type="button") Записаться в группу
        h2.center Преподаватели и группы
        a(name="schedule")
        .container-fluid.linkrow
            .row
                .col-sm-4
                    img.img-circle.center-block.prep(src="img/olga.jpg")
                    h3.center Ольга Вадимова
                    .center
                        p Преподаватель группы растяжки
                        p
                            span.glyphicon.glyphicon-menu-down
                        p.i Растяжка
                        p Пятница, 
                            span.nowrap 18.30 — 19.30
                .col-sm-4
                    img.img-circle.center-block.prep(src="img/svetlana.jpg")
                    h3.center Светлана Калинина
                    .center
                        p Руководитель студии
                        p Преподаватель взрослых групп
                        p
                            span.glyphicon.glyphicon-menu-down
                        p.i Станок для начинающих
                        p Суббота, 
                            span.nowrap 18.30 — 19.30
                        .sep.center-block
                        p.i Классическая хореография
                        p Воскресенье, 
                            span.nowrap 14.00 — 16.00
                .col-sm-4
                    img.img-circle.center-block.prep(src="img/anna.jpg")
                    h3.center Анна Иконникова
                    .center
                        p Преподаватель детских групп
                        p Балерина Нижегородского театра оперы и балета
                        p
                            span.glyphicon.glyphicon-menu-down
                        p.i 5 — 7 лет
                        p Понедельник, 
                            span.nowrap 15.00 — 16.00
                        p Пятница, 
                            span.nowrap 15.00 — 16.00
                        .sep.center-block
                        p.i 8 — 12 лет
                        p Понедельник, 
                            span.nowrap 16.00 — 17.00
                        p Пятница, 
                            span.nowrap 16.00 — 17.00
        .container-fluid
            .jumbotron
                h2 Не определились с группой?
                .row
                    .col-sm-8 
                        p Звоните: +7-904-917-14-15
                    .col-sm-4
                        a.btn.btn-primary.btn-lg(href="#",role="button") Записаться в группу
        .header3
            .slogan.right.top Умение держаться на сцене
            .bottom.center
                button.btn.btn-danger.btn-lg(type="button") Записаться в группу
        h2.center Цены
        a(name="price")
        .container-fluid.linkrow
            .row
                .col-sm-4
                    .center
                        h3 Растяжка
                        p 
                            span.nowrap
                                | 150 
                                span.small.text-muted / 200* 
                            | 
                            span.nowrap &#32;рублей/занятие
                .col-sm-4
                    .center
                        h3 Станок для начинающих
                        p 
                            span.nowrap
                                | 150 
                                span.small.text-muted / 200* 
                            | 
                            span.nowrap &#32;рублей/занятие
                        .sep.center-block
                        h3 Классическая хореография
                        p 
                            span.nowrap 
                                | 300 
                                span.small.text-muted / 400* 
                            | 
                            span.nowrap &#32;рублей/занятие
                .col-sm-4
                    .center
                        h3 Детские группы
                        p 
                            span.nowrap
                                | 350 
                                span.small.text-muted / 450* 
                            | 
                            span.nowrap рублей/занятие
        p.center.small * Первая цена действует при оплате сразу за все занятия месяца (абонемент). Вторая цена действует при оплате за каждое занятие отдельно.
        h2.center Акции
        .container-fluid.linkrow
            .row
                .col-sm-6
                    .center
                        h3 Мама + дочь
                        p При обучении детей для родителей скидки
                .col-sm-6
                    .center
                        h3 Второй ребенок
                        p Скидки на обучение второго и следующих детей
        include ./2gis.html
        h2.center Контакты
        .container-fluid.linkrow
            .row
                .col-sm-4
                    .center
                        p +7-904-917-14-15 (Светлана)
                .col-sm-4
                    .center
                        a(href="https://vk.com/tamburin_dance") vk.com/tamburin_dance
                .col-sm-4
                    .center
                        p 
                            | ул. Варварская, 32 (Нижполиграф)
                            br
                            | 2 этаж, правое крыло
        .header4
            .top.center
                button.btn.btn-danger.btn-lg(type="button") Записаться в группу
