doctype html
html(lang="ru")
    head
        title Студия танца Тамбурин, Нижний Новгород
        meta(charset="UTF-8")
        link(rel="icon", href="img/logo.png")
        link(rel="stylesheet", href="index.css")
        link(rel="stylesheet", href="css/bootstrap.min.css", media="(min-width: 768px)")
        link(rel="stylesheet", href="css/bootstrap-theme.min.css", media="(min-width: 768px)")
        link(rel="stylesheet", href="css-small/bootstrap.min.css", media="(max-width: 767px)")
        link(rel="stylesheet", href="css-small/bootstrap-theme.min.css", media="(max-width: 767px)")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        script(src="https://code.jquery.com/jquery-3.1.1.min.js")
        script(src="js/bootstrap.min.js")
        script(src="http://maps.api.2gis.ru/2.0/loader.js?pkg=full")
        script(src="2gis.js")
        meta(name="keywords",content="балет, девочка танец, детский танец, занятия ребенок, танцевальный клуб, кружки ребенок, исправлять осанку, развивать ребенка, ребенок сутулится, ребенок танец студия, студия танца для детей, танцевальная студия, танцевальная школа, Нижний Новгород, хореография, балетная студия, балетная школа")
        meta(property="og:title",content="Студия танца Тамбурин")
        meta(property="og:type",content="website")
        meta(property="og:url",content="http://www.tamburin-dance.ru/")
        meta(property="og:image",content="http://www.tamburin-dance.ru/img/head.jpg")
        meta(property="og:description",content="Занятия классической хореографией (балетом) для детей и взрослых")
        meta(property="og:locale",content="ru_RU")
    body
        .content
            .header
                .logo.hidden-xs
                    img(src="img/logo.png")
                .header-top
                    h1.tamburin Тамбурин
                    h1.studio студия танца
                    h3.forall
                        | для детей 
                        br
                        | и взрослых
                .header-bottom
                    //h3.attention 
                        | Внимание! 
                        br
                        | Занятий 4 и 5 ноября не будет!
                    a.btn.btn-danger.btn-lg(role="button",href="https://docs.google.com/forms/d/e/1FAIpQLSdno85L3i7fr15zgHdlIMZeO9QMkmqvSiNlPPOpusLeQUW-TA/viewform") Записаться в группу
                    .phone
                         a.tel(href="tel:+79049171415") Телефон: +7-904-917-14-15
            h2.attention 
                .center 14 апреля занятий для взрослых не будет
            .container-fluid.highlight
                a(name="aboutus")
                h2.center Студия балета для детей и взрослых
                .row
                    .col-sm-6
                        .intro
                            p Вы ищете развивающий кружок для своего ребенка? Приводите его в школу танца! Прекрасная осанка, фигура, умение двигаться на сцене появятся обязательно! Но более того, в студии танца "Тамбурин" каждая девочка 5–12 лет сможет прикоснуться к миру балета, научится понимать язык, на котором говорят артисты. 
                    .col-sm-6
                        .intro
                            p Наша школа танца будет рада видеть у себя и взрослых людей! Может быть, в детстве Вас не взяли в танцевальный кружок, или Вы занимались танцами очень давно и сейчас хотели бы продолжить? У Вас есть замечательная возможность начать заниматься балетом! Стертые в пуантах ноги, уставшие мышцы, репетиции и... 5 минут счастья на сцене! Все по настоящему! Приходите в нашу студию танца!
                .row.bold.points
                    .col-sm-4.center
                        p Танцы для детей от 5 до 12 лет
                        p Программа «мама + дочка»
                    .col-sm-4.center
                        p Обучаем балету взрослых с нуля
                        p Постановка номеров, выступления
                    .col-sm-4.center
                        p Мастерклассы с артистами балета
                        p Подарочные сертификаты
            .header2
                .slogan.right.top 
                    span.nowrap Ученики студии балета «Тамбурин», 
                    |  
                    span.nowrap Нижний Новгород, 
                    |  
                    span.nowrap 2016 г.
            a(name="schedule")
            h2.center.highlight Расписание групп
            .container-fluid.linkrow.highlight
                .row
                    .col-sm-6
                        h3.center Взрослые
                        .center
                            p.subject Станок для начинающих&#32;
                                //span.badge.badge-danger Новый набор
                            p Суббота, 
                                span.nowrap 18.30 — 19.30
                                br
                                | (Звездинка)
                                br
                                | преподаватель Светлана Калинина
                            .sep.center-block
                            p.subject Станок, второй год
                            p Понедельник, 
                                span.nowrap 19.15 — 20.15
                                br
                                | (Звездинка)
                                br
                                | преподаватель Татьяна Дормидонтова
                            p Суббота, 
                                span.nowrap 17.30 — 18.30
                                br
                                | (Звездинка)
                                br
                                | преподаватель Светлана Калинина
                            .sep.center-block
                            p.subject Классическая хореография
                            p Воскресенье, 
                                span.nowrap 10.00 — 12.00
                                br
                                | (Звездинка)
                                br
                                | преподаватель Светлана Калинина
                            .sep.center-block
                            p.subject Растяжка
                            p Временно закрыта
                    .col-sm-6
                        h3.center Детские
                        .center
                            p.subject Дети 3 — 4 года &#32;
                                //span.badge.badge-danger Новый набор
                            p Суббота, 
                                span.nowrap 18.30 — 19.30
                                br
                                | (Звездинка)
                                br
                                | преподаватель Екатерина Миронова
                            .sep.center-block
                            p.subject Дети 4 — 5 лет
                            p Среда, 
                                span.nowrap 15.00 — 16.00
                                br
                                | (Звездинка)
                                br
                                | преподаватель Светлана Калинина
                            p Воскресенье, 
                                span.nowrap 18.30 — 19.30
                                br
                                | (Нижполиграф)
                                br
                                | преподаватель Екатерина Миронова
                            .sep.center-block
                            p.subject Дети 5 — 7 лет
                            p Понедельник, 
                                span.nowrap 15.00 — 16.00
                                br
                                | (Звездинка)
                                br
                                | преподаватель Анна Иконникова
                            p Пятница, 
                                span.nowrap 15.00 — 16.00
                                br
                                | (Звездинка)
                                br
                                | преподаватель Анна Иконникова
                            .sep.center-block
                            p.subject Дети 8 — 12 лет
                            p Вторник, 
                                span.nowrap 15.30 — 16.30
                                br
                                | (Нижполиграф)
                                br
                                | преподаватель Анна Иконникова
                            p Четверг, 
                                span.nowrap 15.30 — 16.30
                                br
                                | (Нижполиграф)
                                br
                                | преподаватель Анна Иконникова
            h2.center.highlight Преподаватели
            .container-fluid.linkrow.highlight
                .row
                    .col-sm-4
                        img.img-circle.center-block.prep.photo(src="img/olga.jpg")
                        h3.center Ольга Вадимова
                        .center
                            p Преподаватель группы растяжки
                    .col-sm-4
                        img.img-circle.center-block.prep.photo(src="img/svetlana.jpg")
                        h3.center Светлана Калинина
                        .center
                            p Руководитель студии
                            p Преподаватель взрослых групп и группы 4 — 5 лет
                    .col-sm-4
                        img.img-circle.center-block.prep.photo(src="img/anna.jpg")
                        h3.center Анна Иконникова
                        .center
                            p Преподаватель детских групп
                            p Балерина Нижегородского театра оперы и балета
                .row
                    .col-sm-2
                    .col-sm-4
                        img.img-circle.center-block.prep.photo(src="img/tatyana.jpg")
                        h3.center Татьяна Дормидонтова
                        .center
                            p Преподаватель взрослых групп
                    .col-sm-4
                        img.img-circle.center-block.prep.photo(src="img/ekaterina.jpg")
                        h3.center Екатерина Миронова
                        .center
                            p Преподаватель детских групп
                    .col-sm-2
            .header3
                .slogan.right.bottom
                    span.nowrap Танцы для детей и взрослых 
                    | 
                    span.nowrap в студии «Тамбурин»
            a(name="price")
            h2.center.highlight Цены
            .container-fluid.linkrow.highlight
                .row
                    .col-sm-4
                        .center
                            h3 Классическая хореография
                            p 
                                span.lead 250 
                                br 
                                span рублей за занятие
                    .col-sm-4
                        .center
                            h3 Станок для начинающих
                            p 
                                span.lead 150 
                                span.text-muted / 200* 
                                br 
                                span рублей за занятие
                    .col-sm-4
                        .center
                            h3 Детские группы
                            p 
                                sman.lead 350 
                                span.text-muted / 450* 
                                br
                                span рублей за занятие
            p.center.small.highlight 
                span.nowrap * Первая цена действует при оплате сразу за все занятия месяца (абонемент). 
                | 
                span.nowrap Вторая цена действует при оплате за каждое занятие отдельно.
            .container-fluid.linkrow.highlight
                .row
                    .col-sm-4
                    .col-sm-4
                        .center
                            h3 Индивидуальные занятия
                            p 
                                span.lead 1000 
                                br 
                                span рублей за час (60 минут)
                    .col-sm-4
            h2.center.highlight Акции
            .container-fluid.linkrow.highlight
                .row
                    .col-sm-6
                        .center
                            h3 Мама + дочка
                            p При обучении и мамы и дочки скидки: 300 рублей/занятие для дочки (при оплате абонементом) и 50 % скидка для мамы на взрослые группы (при оплате абонементом)
                    .col-sm-6
                        .center
                            h3 Второй ребенок
                            p При обучении двух и более детей оплата из расчета 300 рублей/занятие на каждого ребенка (при оплате абонементом)
            .header4
                .top.center
                    a.btn.btn-primary.btn-lg(role="button",href="https://docs.google.com/forms/d/e/1FAIpQLSdno85L3i7fr15zgHdlIMZeO9QMkmqvSiNlPPOpusLeQUW-TA/viewform") Записаться в группу
                .slogan.right.bottom.bold 
                    span.nowrap Выступление танцоров студии
                    |  
                    span.nowrap в музее-усадьбе Рукавишниковых
                    | 
                    span.nowrap Нижний Новгород, 2014
            h2.center.highlight Форма одежды
            .container-fluid.linkrow.highlight
                .row
                    .center
                        p
                            | Волосы убраны в хвост или пучок.
                            br
                            | На первое пробное занятие можно прийти в обычной спортивной тянущейся одежде и носочках!
                .row
                    .col-sm-6
                        .center
                            h3 Взрослые
                            p
                                | Черный гимнастический купальник, 
                                br
                                | черная юбка, 
                                br
                                | белые колготки, 
                                br
                                | балетки
                    .col-sm-6
                        .center
                            h3 Дети
                            p.subject 3 — 4 года, 4 — 5 лет, 5 — 7 лет
                            p
                                | Белый гимнастический купальник, 
                                br
                                | белая юбка, 
                                br
                                | белые носочки, 
                                br
                                | балетки
                                br
                            .sep.center-block
                            p.subject 8 — 12 лет
                            p
                                | Черный гимнастический купальник, 
                                br
                                | черная юбка, 
                                br
                                | белые колготки, 
                                br
                                | балетки.
            #map
            h2.center.highlight Контакты
            .container-fluid.linkrow.highlight
                .row
                    .col-sm-4
                        .center
                            p
                                a.tel(href="tel:+79049171415") +7-904-917-14-15 (Светлана)
                    .col-sm-4
                        .center
                            p
                                a(href="https://vk.com/tamburin_dance") vk.com/tamburin_dance
                            p
                                a(href="mailto:info@tamburin-dance.ru") info@tamburin-dance.ru
                    .col-sm-4
                        .center
                            p 
                                | Нижний Новгород
                            p
                                | ул. Звездинка, 26
                                br
                                | 2 этаж
                            .sep.center-block.hidden-xs
                            p
                                | ул. Варварская, 32 (Нижполиграф)
                                br
                                | 2 этаж, правое крыло
            include metrika.html
            include analytics.html
